@import '../../index.css';

.appointmentList{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.appointmentItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.item{
    color: var(--bg-color);
}