@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --bg-color: white;
  --primary-color: #111f4a;
  --secondary-color: #6bcbb8;
  --background-light: #e6e8ea;
  --secondary-light: #aadcd2;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: var(--bg-color);
}

.nav {
  width: 20%;
  background-color: var(--background-light);
  height: 100vh;
  text-align: center;
  padding: 10px;
}

li {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  transition: 0.4s all ease-in-out 0s;
  color: var(--primary-color);
}

li:hover {
  color: black;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg-color);
  transition: 0.4s all ease-in-out 0s;
}

.one::before {
  right: unset;
  left: 0;
  width: 0;
}

.one:hover::before {
  left: unset;
  right: 0;
  width: 100%;
}
